<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Reminders, Hi {{ user.username }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-virtual-scroll [items]="reminders">
      <div *virtualItem="let reminder">
        <app-reminder-item [reminderItem]="reminder" ></app-reminder-item>
      </div>
    </ion-virtual-scroll>
  </ion-list>
</ion-content>
