<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/reminders"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>{{ loadedReminder?.createDt }}</ion-card-subtitle>
            <ion-card-title>{{ loadedReminder?.prescription }}</ion-card-title>
            <h2>{{ loadedReminder?.message }} </h2>
          </ion-card-header>
          <ion-card-content>
            <h6>-dr. {{ loadedReminder?.doctorName }}</h6>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row align-items-center>
      <ion-col></ion-col>
      <ion-col>
        <ion-button  *ngIf="(!loadedReminder?.doneDt && loadedReminder?.priority === 'HIGH')" expand="block" color="danger" (click)="onMarkDone()">
          <ion-icon name="checkmark-circle" slot="start"></ion-icon>Mark Done
        </ion-button>
        <ion-button  *ngIf="(!loadedReminder?.doneDt && loadedReminder?.priority === 'MIDDLE')" expand="block" color="warning" (click)="onMarkDone()">
          <ion-icon name="checkmark-circle" slot="start"></ion-icon>Mark Done
        </ion-button>
        <ion-button  *ngIf="(!loadedReminder?.doneDt && loadedReminder?.priority === 'LOW')" expand="block" color="success" (click)="onMarkDone()">
          <ion-icon name="checkmark-circle" slot="start"></ion-icon>Mark Done
        </ion-button>
        <ion-button disabled *ngIf="(loadedReminder?.doneDt)" expand="block" color="dark">
          <ion-icon name="checkmark-circle" slot="start"></ion-icon>Task has been done
        </ion-button>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
